@import "tailwindcss";

@theme {
  --color-background: #f472b6;
  --color-foreground: #171717;
  --color-primary: #f472b6;
  --color-secondary: #171717;
  --color-accent: #171717;
  --color-button: #f472b6;
  --color-text: #171717;
  --color-onlight: black;
  --color-ondark: white;
  --color-red-500: #ff4545;
}

[data-theme="osday"] {
  --color-background: #c0392b;
  --color-foreground: #1e293b;
  --color-primary: #c0392b;
  --color-secondary: #12142d;
  --color-accent: #4263aa;
  --color-button: #edcfb7;
  --color-text: #ffdbaf;
  --color-onlight: black;
  --color-ondark: #ffdbaf;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: "Inter", Helvetica, sans-serif;
}