@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="default"] {
  --background: #f472b6;
  --foreground: #171717;
  --primary: var(--background);
  --secondary: var(--foreground);
  --accent: var(--foreground);
  --button: var(--background);
  --text: var(--foreground);
  --onlight: black;
  --ondark: white;
}

/* Tema OSDay */
[data-theme="osday"] {
  --background: #c0392b; /* Fiery red */
  --foreground: #1e293b;
  --primary: #c0392b;
  --secondary: #12142d; /* Dark navy blue */
  --accent: #4263aa; /* Almost ultramarin */
  --button: #edcfb7; /* Creamy sand */
  --text: #ffdbaf;
  --onlight: black;
  --ondark: var(--text);
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Inter", Helvetica, sans-serif;
}
